<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>DogWalker</span>
  </mat-toolbar>
  
  <mat-drawer-container class="content">
    <mat-drawer #sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="/cliente-cadastro">Cadastro de clientes</a>
        <a mat-list-item routerLink="/cliente-cadastro">Cadastro de walkers</a>
        <a mat-list-item routerLink="/agendar-passeio">Agendar Passeio</a>
        <a mat-list-item routerLink="/passeios-agendados">Passeios Agendados</a>
      </mat-nav-list>
    </mat-drawer>
  
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
<router-outlet></router-outlet>
  